@import "libs/compass-mixins/lib/compass";
@import "libs/compass-mixins/lib/animation/core";
@import "libs/compass-mixins/lib/animation/shared";
@import "libs/compass-mixins/lib/animation/animate";
@import "hotfix";

$appWidth: 1000px;
$listWidth: 300px;
$buttonWitdth: 34px;

.place {
	&.ng-move,&.ng-enter,&.ng-leave {
		@include transition(all linear .5s);
	}
	&.ng-leave.ng-leave-active {
		opacity: 0;
		background-color: red;
	}
}


.app {
	width: 1000px;
	margin: 120px auto 0;

	.wrapper {
		white-space: nowrap;
		border: 1px solid #ddd;
	}

	.list, .map {
		display: inline-block;
		height: 400px;
	}
	
	.list {
		overflow-y: scroll;
		margin-right: -17px;
		width: $listWidth + 17px;
		position: relative;

		.search, .results {
			width: 100%;
		}

		.results {
			display: table;
			position: absolute;
		}

		.place {
			display: block;

			.text-btn {
				width: $listWidth - $buttonWitdth - 5px;
				text-align: left;
			}
		}

		.results.filled ~ .waypoints {
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
		}

		.routedetails {
			position: absolute;
			bottom: 0;
		}

		.waypoints .place, .routedetails .place {
			.text {
				width: $listWidth - 3*$buttonWitdth - 16px;
				display: inline-block;
				float: left;
				text-align: left;
				line-height: 20px;
			}

			.text-btn {
				width: auto;
			}
		}

		.routedetails .place {
			.text {
				font-size: 12px;
				width: $listWidth - 4*$buttonWitdth - 16px;
			}

			.btn-default:focus {
				background-color: white;
			}
		}
	}
	
	.map {
		width: $appWidth - $listWidth - 2px;
		box-shadow: 0 0 1px #ddd;
	}
}
