@import "libs/compass-mixins/lib/compass";
@import "libs/compass-mixins/lib/animation/core";
@import "libs/compass-mixins/lib/animation/shared";
@import "libs/compass-mixins/lib/animation/animate";
@import "hotfix";
@import "breakpoints";

$appWidth: 1000px;
$listWidth: 300px;
$buttonWitdth: 34px;

.place {
	&.ng-move,&.ng-enter,&.ng-leave {
		@include transition(all linear .5s);
	}
	&.ng-leave.ng-leave-active {
		opacity: 0;
		background-color: red;
	}
}

%place {
	.text {
		width: $listWidth - 3*$buttonWitdth - 16px;
		display: inline-block;
		float: left;
		text-align: left;
		line-height: 20px;
	}

	.text-btn {
		width: auto;
	}
}

body {
	@include mobile {
		background-color: #333;
	}
}

h1 {
	@include mobile {
		font-size: medium;
	}
}

.page-header {
	@include mobile {
		margin-top: 0;
		color: #ddd;
	}
}

.page-header.second {
	position: absolute;
	top: 99px;
	width: 100%;
	z-index: -1;

	@include mobile {
		display: none;
	}
}

.page-header small {
	margin-left: 20px;

	@include mobile {
		display: block;
		margin-left: 0;
		margin-top: 20px;
	}
}

.app {
	position: relative;
	width: 1000px;
	margin: 0 auto;

	@include portable {
		width: 100%;
	}

	.wrapper {
		overflow: hidden;
		white-space: nowrap;
		border: 1px solid #ddd;
		display: inline-block;
		margin-bottom: -6px;
		vertical-align: bottom;

		@include mobile {
			width: 100%;
		}
	}

	.search {
		width: $listWidth;
		position: absolute;
		z-index: 2;

		@include mobile {
			position: relative;
			width: auto;
		}
	}

	.list, .map {
		display: inline-block;
		height: 400px;
	}

	.list {
		overflow-y: scroll;
		overflow-x: hidden;
		margin-right: -17px;
		width: $listWidth + 17px;
		position: relative;

		@include mobile {
			width: 100%;
		}

		.results {
			width: 100%;
			display: table;
			position: absolute;

			.loader {
				text-align: center;
			}

			@include mobile {
				display: block;
			}
		}

		.place {
			display: block;

			&.spacer {
				height: 34px;

				@include mobile {
					display: none;
				}
			}

			.text-btn {
				width: $listWidth - $buttonWitdth - 5px;
				text-align: left;
				overflow: hidden;

				@include mobile {
					width: 100%;
					margin-right: -34px - 5px;
					&:hover, &:focus {
						z-index: 0;
					}
				}
			}
		}

		.waypoints {

			.place {
				@extend %place;

				.text {
					@include mobile {
						width: 100%;
						margin-right: -34px - 5px;
					}
				}
			}

			.droparea {
				height: 34px;
				cursor: move;
			}
		}
	}

	.routedetails {
		position: absolute;
		bottom: 0;
		z-index: 2;

		@include mobile {
			position: relative;
			width: auto;
		}

		.place {
			@extend %route;

			@include mobile {
				position: relative;
				width: 100%;
				text-align: right;
			}

			.text {
				display: inline-block;
				float: left;
				line-height: 20px;
				font-size: 12px;
				width: $listWidth - 4*($buttonWitdth - 20) - 16px;
				text-align: left;

				@include portable {
					width: $listWidth - 4*($buttonWitdth - 8) - 16px;
				}

				@include mobile {
					position: absolute;
					left: 0;
					right: 4*($buttonWitdth - 2) - 14px;
					width: auto;
				}
			}

			.text-btn {
				padding-left: 2px;
				padding-right: 2px;

				@include portable {
					padding-left: 8px;
					padding-right: 8px;
				}

				@include mobile {
					float: none;
					padding-left: 12px;
					padding-right: 12px;
					margin-left: -5px;
				}
			}

			.btn-default:focus {
				background-color: white;
			}
		}

		.btn-group {
			background-color: white;
		}
	}

	.map {
		width: $appWidth - $listWidth - 2px;
		box-shadow: 0 0 1px #ddd;

		@include portable {
			position: absolute;
			left: 300px;
			right: 0;
			width: auto;
		}

		@include mobile {
			position: relative;
			left: auto;
			width: 100%;
		}

		.fa.start, .fa.end {
			background-color: white;
			border-radius: 100%;
			padding: .25em;
			font-size: 1.5em;
			border:1px solid blue;
			margin: -1em;
		}

	}
}
