<div class="app" ng-controller="AppController">
	<div class="wrapper"><!--
	--><div class="list">
		<div class="search input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
			<input type="text" class="form-control" ng-model="search" ng-model-options="{debounce: 250}" placeholder="{{lang.queryPlaceHolder}}" ng-change="fetchPlaces()" ng-show="ready">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="clearPlaces()"><i class="glyphicon glyphicon-remove"></i></button>
			</span>
		</div>
		<div class="results {{places.length ? 'filled' : ''}}">
			<div ng-repeat="place in places | filter:search" class="place btn-group">
				<button type="button" class="btn text-btn btn-default" ng-click="putMarker()">{{place.title}}</button>
				<button type="button" class="btn add-btn btn-default" ng-click="addToList()">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
		</div>
		<div class="waypoints" ng-controller="ListController">
			<div ng-repeat="place in list track by $index" class="place btn-group">
				<span class="input-group-addon text">{{$index + 1 + ". " + place.title}}</span>
				<button type="button" class="btn text-btn btn-default">
					<span class="glyphicon glyphicon-chevron-up" ng-click="moveInList($index-1, place)"></span>
				</button>
				<button type="button" class="btn text-btn btn-default">
					<span class="glyphicon glyphicon-chevron-down" ng-click="moveInList($index+1, place)"></span>
				</button>
				<button type="button" class="btn text-btn btn-warning">
					<span class="glyphicon glyphicon-trash" ng-click="removeFromList($index)"></span>
				</button>
			</div>
		</div>
		<div class="routedetails" ng-controller="RouterController">
			<div class="place btn-group">
				<span class="input-group-addon text">TEST</span>
				<button type="button" class="btn text-btn {{mode == 'car' ? 'btn-default' : ''}} {{list.length ? '' : 'disabled'}}">
					<span class="fa fa-car" ng-click="toggleMode('car')"></span>
				</button>
				<button type="button" class="btn text-btn {{mode == 'pedestrian' ? 'btn-default' : ''}} {{list.length ? '' : 'disabled'}}">
					<span class="fa fa-male" ng-click="toggleMode('pedestrian')"></span>
				</button>
				<button type="button" class="btn text-btn {{mode == 'publicTransport' ? 'btn-default' : ''}} {{list.length ? '' : 'disabled'}}">
					<span class="fa fa-bus" ng-click="toggleMode('publicTransport')"></span>
				</button>
				<button type="button" class="btn text-btn btn-warning {{list.length ? '' : 'disabled'}}">
					<span class="glyphicon glyphicon-trash" ng-click="clearList()"></span>
				</button>
			</div>
		</div>
	</div><!--
	--><div class="map" map-container></div>
	</div>
</div>
